html,
body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#app {
  width: 100%;
  height: 100%;
  background: #212121;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.doors {
  display: flex;
}

.door {
  background: #fafafa;
  box-shadow: 0 0 3px 2px rgba(0, 0, 0, 0.4) inset;
  width: 100px;
  height: 150px;
  overflow: hidden;
  border-radius: 1ex;
  margin: 1ch;
}

.boxes {
  transition: transform 1s ease-in-out;
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
}

.buttons {
  margin: 1rem 0 2rem 0;
}

button {
  cursor: pointer;
  font-size: 1.2rem;
  text-transform: uppercase;
  margin: 0 0.2rem;
}

.balance {
  color: #fff; /* 將當前餘額顯示為白色 */
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.coupon-summary {
  background-color: #333;
  color: #fff;
  padding: 10px;
  border-radius: 10px;
  margin-top: 20px;
  text-align: center;
}

.coupon-summary p {
  margin: 5px 0;
}

.congrats-popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #4caf50;
  color: white;
  font-size: 1.5rem;
  text-align: center;
  padding: 20px;
  border-radius: 10px;
  z-index: 1000;
  opacity: 0.9;
}

.info {
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  color: #fff;
}
